html {
    font-family: Roboto, sans-serif;
    font-size: 20px;;
}

header {
    background-color:blanchedalmond;
    margin: 0;
    width: 100%;
    position: fixed;
}

header .top {
    display: flex;
    align-items: center;
    padding: 15px;
}

header .logo {
    font-size: large;
    font-weight: bold;
    color: black;
}

header nav ul {
    display: flex;
}

header p {
    color: white;
}

.nav {
    display: block;
}

.nav a {
    color: black;
    font-size: 15px;
    text-decoration: underline;
}

#signup {
    display: flex;
    background-image: url(images/banner-landingpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    justify-content: flex-start;
}

#signblock {
    background-color:paleturquoise;
    border: solid 5px black;
    position: relative;
    left: 10%;
    border-radius: 5px;
    padding: 0 10px;
}

#signblock .header {
    color: aliceblue;
}

#signblock .cursive {
    font-family: cursive;
}

#signblock .striking {
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.button {
    color: white;
    background-color: black;
}

#signblock .button {
    margin: auto;
}

#signblock p {
    font-weight: bolder;
}

#signblock h1 {
    font-size: 40px;
}

#signblock h2 {
    font-size: 50px;
}

#list-features {
    display: flex;
    justify-content: space-between;
    background-color: darkmagenta;
    padding: 0% 6px;
}

.feature {
    background-color: white;
    margin: 0;
    padding: 5% 0;
}

.box {
    text-align: center;
}

.feature .images {
    margin: 0 auto;
    width: 80%;
    height: 70%;
}

.images img {
    display: block;
    max-width: 100%;
}

.box h2 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    padding-bottom: 10px;
}

.box h3 {
    color: black;
    font-size: 15px;
    font-weight: 300;
}

#list-filters {
    background-color: antiquewhite;
}

#list-filters .filter h2 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

#list-filters .filter h3 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#list-filters .list {
    display: flex;
    max-width: 100%;
}

.images img {
    display: block;
    max-width: 100%;
}

#quotes {
    background-color: gray;
}

#quotes p {
    color: black;
    font-style: italic;
    font-size: medium;
}

footer {
    background-color: darkblue;
    padding: 30px 50px;
}

footer .cr {
    color: white;
    display: flex;
    font-size: small;
}